body {
  padding-top: 56px; /* Adjust for fixed navbar height */
}

.user-profile {
  margin-top: 30px;
}

.card-img-top {
  height: 150px; /* Adjust height as needed */
  width: 150px; /* Adjust width to make it a circle */
  object-fit: cover; /* Maintain aspect ratio */
}

footer {
  background-color: #f8f9fa;
  padding: 20px 0;
}
